In [2]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import BernoulliNB

In [10]:
tel = pd.read_csv('tel_bayes.csv')
dum_tel= pd.get_dummies(tel, drop_first=True)
nb= BernoulliNB(alpha=0,force_alpha=True)
dum_tel.head(5)

   TT_gt_100_y  Gender_male  Response_not bought
0            1            1                    1
1            0            1                    1
2            0            0                    1
3            0            0                    1
4            0            1                    1

In [4]:
X = dum_tel[['TT_gt_100_y','Gender_male']]
y= dum_tel['Response_not bought']

In [7]:
nb.fit(X,y)  # Calculate apriori probas
tst= np.array([['n','female'],
              ['n','male'],
              ['y','female'],
              ['y','male']])
tst= pd.DataFrame(tst, columns=['TT_gt_100','Gender'])
dum_tst= pd.get_dummies(tst, drop_first=True)

In [8]:
nb.predict_proba(dum_tst) #Calculate posterior probas

array([[0.31034483, 0.68965517],
       [0.06976744, 0.93023256],
       [0.87096774, 0.12903226],
       [0.52941176, 0.47058824]])

In [9]:
nb.predict(dum_tst)

array([1, 1, 0, 0], dtype=uint8)