### 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [1]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series(np.array([1,2,3,4,5,6]))
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
type(s)

pandas.core.series.Series

### 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [5]:
l=list(s)
type(l)

list

### 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
### Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [7]:
s1=pd.Series([2, 4, 6, 8, 10])
s2=pd.Series([1, 3, 5, 7, 9])
s1+s2

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [8]:
s1-s2

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [9]:
s1/s2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [10]:
s1*s2

0     2
1    12
2    30
3    56
4    90
dtype: int64

### 4. Write a Pandas program to compare the elements of the two Pandas Series.
### Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [11]:
s1=pd.Series([2, 4, 6, 8, 10])
s2=pd.Series([1, 3, 5, 7, 10])
s1<s2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [12]:
s1>s2

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [13]:
s1==s2

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [14]:
s1!=s2

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [15]:
s1<=s2

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [17]:
s1>=s2

0    True
1    True
2    True
3    True
4    True
dtype: bool

### 5.Write a Pandas program to convert a dictionary to a Pandas series.

In [18]:
d={'a':12,'b':56,'c':89}
s=pd.Series(data=d)

In [20]:
print(s)
print(type(s))

a    12
b    56
c    89
dtype: int64
<class 'pandas.core.series.Series'>

### 6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [22]:
a=np.arange(1,20)
s=pd.Series(data=a)
s

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
dtype: int64

### 7. Write a Pandas program to change the data type of given a column or a Series.

In [33]:
s=pd.Series([100,200,'python',300.12,400])
s

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [35]:
s=pd.to_numeric(s,errors='coerce')
s

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

### 8. Write a Pandas program to convert the first column of a DataFrame as a Series.

### 9. Write a Pandas program to convert a given Series to an array.

### 10. Write a Pandas program to convert Series of lists to one Series.

### 11. Write a Pandas program to sort a given Series.

### 12. Write a Pandas program to add some data to an existing Series.

### 13. Write a Pandas program to create a subset of a given series based on value and condition.

### 14. Write a Pandas program to change the order of index of a given series.

### 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

### 16. Write a Pandas program to get the items of a given series not present in another given series.

### 17. Write a Pandas program to get the items which are not common of two given series.

### 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

### 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

### 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

### 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

### 22. Write a Pandas program to extract items at given positions of a given series.

### 23. Write a Pandas program to get the positions of items of a given series in another given series.

### 24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

### 25. Write a Pandas program to calculate the number of characters in each word in a given series.

### 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

### 27. Write a Pandas program to convert a series of date strings to a timeseries.

### 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

### 29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

### 30. Write a Pandas program to filter words from a given series that contain atleast two vowels.

### 31. Write a Pandas program to compute the Euclidean distance between two given series.
### Euclidean distance
### From Wikipedia,
### In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line distance between two points in Euclidean space. With this distance, Euclidean space becomes a metric space. The associated norm is called the Euclidean norm.

### 32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.

### 33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.

### 34. Write a Pandas program to compute the autocorrelations of a given numeric series.
### From Wikipedia:
### Autocorrelation, also known as serial correlation, is the correlation of a signal with a delayed copy of itself as a function of delay. Informally, it is the similarity between observations as a function of the time lag between them.

### 35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

### 36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.

### 37. Write a Pandas program to stack two given series vertically and horizontally.

### 38. Write a Pandas program to check the equality of two given series.

### 39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

### 40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

###

###

###

###

###

###

###

###

###

###

###

###

###