In [1]:
import pandas as pd
import numpy as np
from numpy import linalg as la

In [2]:
housing=pd.read_csv("Housing.csv")

In [3]:
housing.tail()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
541,91500.0,4800,3,2,4,yes,yes,no,no,yes,0,no
542,94000.0,6000,3,2,4,yes,no,no,no,yes,0,no
543,103000.0,6000,3,2,4,yes,yes,no,no,yes,1,no
544,105000.0,6000,3,2,2,yes,yes,no,no,yes,1,no
545,105000.0,6000,3,1,2,yes,no,no,no,yes,1,no

In [4]:
x1=housing['lotsize']
y=housing['price']
n=len(x1)

In [5]:
sx1=np.sum(x1)
sy=np.sum(y)
sx12=np.sum(x1*x1)
sx1y=np.sum(x1*y)
a=np.array([[n,sx1],[sx1,sx12]])
b=np.array([sy,sx1y])

In [6]:
sol=la.solve(a,b)

In [7]:
sol

array([3.41361916e+04, 6.59876759e+00])

In [8]:
ycap=sol[0]+sol[1]
print("Z= ",np.sum(y-ycap)**2)

Z=  344192602448101.0

In [9]:
dum_house=pd.get_dummies(housing)
dum_house

,price,lotsize,bedrooms,bathrms,stories,garagepl,driveway_no,driveway_yes,recroom_no,recroom_yes,fullbase_no,fullbase_yes,gashw_no,gashw_yes,airco_no,airco_yes,prefarea_no,prefarea_yes
0,42000.0,5850,3,1,2,1,0,1,1,0,0,1,1,0,1,0,1,0
1,38500.0,4000,2,1,1,0,0,1,1,0,1,0,1,0,1,0,1,0
2,49500.0,3060,3,1,1,0,0,1,1,0,1,0,1,0,1,0,1,0
3,60500.0,6650,3,1,2,0,0,1,0,1,1,0,1,0,1,0,1,0
4,61000.0,6360,2,1,1,0,0,1,1,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,91500.0,4800,3,2,4,0,0,1,0,1,1,0,1,0,0,1,1,0
542,94000.0,6000,3,2,4,0,0,1,1,0,1,0,1,0,0,1,1,0
543,103000.0,6000,3,2,4,1,0,1,0,1,1,0,1,0,0,1,1,0
544,105000.0,6000,3,2,2,1,0,1,0,1,1,0,1,0,0,1,1,0
545,105000.0,6000,3,1,2,1,0,1,1,0,1,0,1,0,0,1,1,0

In [10]:
x1=dum_house['lotsize']
x2=dum_house['driveway_yes']
x3=dum_house['bedrooms']
y=dum_house['price']

In [11]:
n=len(x1)
sx1=np.sum(x1)
sx2=np.sum(x2)
sx3=np.sum(x3)
sy=np.sum(y)
sx12=np.sum(x1*x1)
sx22=np.sum(x2*x2)
sx32=np.sum(x3*x3)
sx1x2=np.sum(x1*x2)
sx1x3=np.sum(x1*x3)
sx2x3=np.sum(x2*x3)
sx1y=np.sum(x1*y)
sx2y=np.sum(x2*y)
sx3y=np.sum(x3*y)

In [12]:
A = np.array([[n,sx1,sx2,sx3],
             [sx1,sx12,sx1x2,sx1x3],
             [sx2,sx1x2,sx22,sx2x3],
             [sx3,sx1x3,sx2x3,sx32]])
B=np.array([sy,sx1y,sx2y,sx3y])

In [13]:
soln=la.solve(A,B)
soln

array([-3.61744978e+03,  5.41636859e+00,  1.33208107e+04,  1.09271076e+04])

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import *
lr=LinearRegression()
x=dum_house[['lotsize','driveway_yes','bedrooms']]
y=dum_house['price']
lr.fit(x,y)
print("Intercept: ",lr.intercept_)
print("Coefficients: ",lr.coef_)

ycap=lr.predict(x)
print("Z= ", np.sum((y-ycap)**2))
print("Mean Squared Error: ", mean_squared_error(y,ycap))

Intercept:  -3617.449779897448
Coefficients:  [5.41636859e+00 1.33208107e+04 1.09271076e+04]
Z=  233994951113.40485
Mean Squared Error:  428562181.5263825

In [15]:
## All VAriables
dum_house=pd.get_dummies(housing,drop_first=True)

In [20]:
x=dum_house.drop('price',axis=1)
y=dum_house['price']

In [21]:
lr.fit(x,y)
print("Intercept: ",lr.intercept_)
print("Coefficients: ",lr.coef_)

Intercept:  -4038.350425098368
Coefficients:  [3.54630297e+00 1.83200347e+03 1.43355585e+04 6.55694571e+03
 4.24482900e+03 6.68777889e+03 4.51128383e+03 5.45238554e+03
 1.28314063e+04 1.26328904e+04 9.36951324e+03]

In [22]:
ycap=lr.predict(x)
print("Z= ", np.sum((y-ycap)**2))
print("Mean Squared Error: ", mean_squared_error(y,ycap))

Z=  127025071644.46799
Mean Squared Error:  232646651.3634945

In [23]:
for i in range(2,-1,-1):
    print(" "*i,"* "*(3-i))

   *
  * *
 * * *

In [38]:
n=int(input("Enter: "))
for i in range(0,n):
    print(" "*((n-1)-i),"*"*(2*i+1))
for i in range(n-1,-1,-1):
    print(" "*(n-i),"*"*(2*i-1))

Enter: 5
     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [37]:
n=int(input("Enter: "))
for i in range(n,-1,-1):
    print(" "*(n-i),"*"*(2*i-1))

Enter: 9
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [72]:
from colorama import Fore
n=int(input())
for i in range(n,0,-1):
    print(Fore.RED+"*  "*i)
for j in range(1,n+1):
    print(Fore.RED+"*  "*j)
print(Fore.RED+"*\n"*(n+3))

7
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*
*
*
*
*
*
*
*
*
*

In [90]:
n=int(input("Enter: "))
for i in range(0,n):
    print(" "*((n-1)-i),end="")
    k=2
    for j in range(1,(2*i)+2):
        if j<=i+1:
            print(j,end="")
        else:
            print(j-k,end="")
            k+=2
    print()

Enter: 5
    1
   121
  12321
 1234321
123454321

In [95]:
n=int(input("Enter: "))
for i in range(n-1,-1,-1):
    print(" "*((n-1)-i),end="")
    k=2
    for j in range(1,(2*i)+2):
        if j<=i+1:
            print(j,end="")
        else:
            print(j-k,end="")
            k+=2
    print()

Enter: 4
1234321
 12321
  121
   1

In [96]:
n=int(input("Enter a number: "))
res=1
for i in range(1,n+1):
    res=res*i
print(res)

Enter a number: 5
120

In [74]:
n=int(input("Enter: "))
for i in range(n,0,-1):
    print("*"*i,"  "*(n-i),"*"*i,sep="")

Enter: 4
********
***  ***
**    **
*      *

In [39]:
import numpy as np
from sympy import diff,log,exp
from sympy.abc import x

In [40]:
e=exp(x)-log(x)
dy_dx=diff(e,x)

In [42]:
xi=1.5
eta=0.01
new_x=xi-eta*dy_dx.subs([(x,xi)])
print("xi: ",new_x)
print("f(xi)= ",e.subs([(x,new_x)]))

xi:  1.46184977596329
f(xi)=  3.93422935648359

In [43]:
xi=1.5
eta=0.01
for i in range(10):
    new_x=xi-eta*dy_dx.subs([(x,xi)])
    print("xi: ",new_x)
    print("f(xi)= ",e.subs([(x,new_x)]))
    print("\n")
    xi=new_x

xi:  1.46184977596329
f(xi)=  3.93422935648359


xi:  1.42555110453574
f(xi)=  3.80559140961150


xi:  1.39096443659357
f(xi)=  3.68872664326224


xi:  1.35796645311857
f(xi)=  3.58228993490954


xi:  1.32644762267589
f(xi)=  3.48513111531231


xi:  1.29631020062259
f(xi)=  3.39626072478328


xi:  1.26746657712878
f(xi)=  3.31482274757073


xi:  1.23983790318005
f(xi)=  3.24007271837535


xi:  1.21335294000455
f(xi)=  3.17136000457020


xi:  1.18794708949940
f(xi)=  3.10811336323424

In [47]:
xi=1.5
eta=0.02
for i in range(10):
    new_x=xi-eta*dy_dx.subs([(x,xi)])
    print("xi: ",new_x)
    print("f(xi)= ",e.subs([(x,new_x)]))
    print("\n")
    xi=new_x

xi:  1.42369955192657
f(xi)=  3.79919547691058


xi:  1.35469837412175
f(xi)=  3.57201297410948


xi:  1.29194997206424
f(xi)=  3.38372461588264


xi:  1.23463290166595
f(xi)=  3.22634284905088


xi:  1.18208971818859
f(xi)=  3.09389821878933


xi:  1.13378526696044
f(xi)=  2.98183476363519


xi:  1.08927735971880
f(xi)=  2.88661101507778


xi:  1.04819564590512
f(xi)=  2.80542929908901


xi:  1.01022606229269
f(xi)=  2.73604763217781


xi:  0.975099176082293
f(xi)=  2.67664625049739