### 1. Write a Pandas program to read a csv file from a specified source and print the first 5 rows.(Diamonds.csv)

In [2]:
import pandas as pd

In [11]:
df=pd.read_csv("diamonds.csv",index_col=0)
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

### 2. Write a Pandas program to read a dataset from diamonds DataFrame and modify the default columns values and print the first 6 rows.

In [10]:
df=pd.read_csv("diamonds.csv",index_col=0)
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [28]:
user_columns=['carat','color','price','x','y','z']
df[user_columns].head(6)

   carat color  price     x     y     z
1   0.23     E    326  3.95  3.98  2.43
2   0.21     E    326  3.89  3.84  2.31
3   0.23     E    327  4.05  4.07  2.31
4   0.29     I    334  4.20  4.23  2.63
5   0.31     J    335  4.34  4.35  2.75
6   0.24     J    336  3.94  3.96  2.48

## 3. Write a Pandas program to select a series from diamonds DataFrame. Print the content of the series.

In [16]:
df=pd.read_csv("diamonds.csv",index_col=0)
df['cut']

1            Ideal
2          Premium
3             Good
4          Premium
5             Good
           ...
53936        Ideal
53937         Good
53938    Very Good
53939      Premium
53940        Ideal
Name: cut, Length: 53940, dtype: object

### 4. Write a Pandas program to create a new 'Quality -color' Series (use bracket notation to define the Series name) of the diamonds DataFrame.

In [26]:
df['Quality-color']=df['cut']+", "+df['color']
df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,Quality-color
1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal, E"
2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium, E"
3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,"Good, E"
4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,"Premium, I"
5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,"Good, J"

### 5. Write a Pandas program to find the number of rows and columns and data type of each column of diamonds Dataframe.

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53940 entries, 1 to 53940
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   carat          53940 non-null  float64
 1   cut            53940 non-null  object
 2   color          53940 non-null  object
 3   clarity        53940 non-null  object
 4   depth          53940 non-null  float64
 5   table          53940 non-null  float64
 6   price          53940 non-null  int64
 7   x              53940 non-null  float64
 8   y              53940 non-null  float64
 9   z              53940 non-null  float64
 10  Quality-color  0 non-null      float64
dtypes: float64(7), int64(1), object(3)
memory usage: 4.9+ MB

In [24]:
df.shape

(53940, 11)

In [25]:
df.dtypes

carat            float64
cut               object
color             object
clarity           object
depth            float64
table            float64
price              int64
x                float64
y                float64
z                float64
Quality-color    float64
dtype: object

### 6. Write a Pandas program to summarize only 'object' columns of the diamonds Dataframe.

In [23]:
df.describe(include=['object'])

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

### 7. Write a Pandas program to rename two of the columns of the diamonds Dataframe.

In [33]:
df.rename(columns={'color':'clr','price':'p'},inplace=True)
df.head()

,carat,cut,clr,clarity,depth,table,p,x,y,z,Quality-color
1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal, E"
2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium, E"
3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,"Good, E"
4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,"Premium, I"
5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,"Good, J"

### 8. Write a Pandas program to rename all the columns of the diamonds Dataframe.

In [34]:
df.columns=[['a1','a2','a3','a4','a5','a6','a7','a8','a9','a10','a11']]
df.head()

     a1       a2 a3   a4    a5    a6   a7    a8    a9   a10         a11
1  0.23    Ideal  E  SI2  61.5  55.0  326  3.95  3.98  2.43    Ideal, E
2  0.21  Premium  E  SI1  59.8  61.0  326  3.89  3.84  2.31  Premium, E
3  0.23     Good  E  VS1  56.9  65.0  327  4.05  4.07  2.31     Good, E
4  0.29  Premium  I  VS2  62.4  58.0  334  4.20  4.23  2.63  Premium, I
5  0.31     Good  J  SI2  63.3  58.0  335  4.34  4.35  2.75     Good, J

### 9. Write a Pandas program to remove the second column of the diamonds Dataframe.

In [50]:
df=pd.read_csv("diamonds.csv",index_col=0)
df.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [36]:
df.pop('cut')
df.head(3)

   carat color clarity  depth  table  price     x     y     z
1   0.23     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [51]:
df.drop('cut', axis=1, inplace=True)
df.head(3)

   carat color clarity  depth  table  price     x     y     z
1   0.23     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     E     VS1   56.9   65.0    327  4.05  4.07  2.31

### 10. Write a Pandas program to remove multiple columns at once of the diamonds Dataframe.

In [47]:
df=pd.read_csv("diamonds.csv",index_col=0)
df.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [49]:
df.drop(['x','y','z'],axis=1,inplace=True)
df.head(3)

   carat      cut color clarity  depth  table  price
1   0.23    Ideal     E     SI2   61.5   55.0    326
2   0.21  Premium     E     SI1   59.8   61.0    326
3   0.23     Good     E     VS1   56.9   65.0    327

### 11. Write a Pandas program to remove multiple rows at once (axis=0 refers to rows) from diamonds dataframe.

### 12. Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe.

### 13. Write a Pandas program to sort the 'price' Series in descending order (returns a Series) of diamonds Dataframe.

### 14. Write a Pandas program to sort the entire diamonds DataFrame by the 'carat' Series in ascending and descending order.

### 15. Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3.

### 16. Write a Pandas program to convert a python list to pandas series.

### 17. Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5.

### 18. Write a Pandas program to find the diamonds that are either Premium or Ideal.

### 19. Write a Pandas program to find the diamonds that are with a Fair or Good or Premium.

### 20. Write a Pandas program to display all column labels of diamonds DataFrame.

### 21. Write a Pandas program to read only a subset of 3 rows from diamonds DataFrame.

### 22. Write a Pandas program to iterate through diamonds DataFrame.

### 23. Write a Pandas program to drop all non-numeric columns from diamonds DataFrame.

### 24. Write a Pandas program to include only numeric columns in the diamonds DataFrame.

### 25. Write a Pandas program to pass a list of data types to only describe certain types of diamonds DataFrame.

### 26. Write a Pandas program to calculate the mean of each numeric column of diamonds DataFrame.

### 27. Write a Pandas program to calculate the mean of each row of diamonds DataFrame.

### 28. Write a Pandas program to calculate the mean of price for each cut of diamonds DataFrame.

### 29. Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

### 30. Write a Pandas program to create a side-by-side bar plot of the diamonds DataFrame.

### 31. Write a Pandas program to count how many times each value in cut series of diamonds DataFrame occurs.

### 32. Write a Pandas program to display percentages of each value of cut series occurs in diamonds DataFrame.

### 33. Write a Pandas program to display the unique values in cut series of diamonds DataFrame.

### 34. Write a Pandas program to count the number of unique values in cut series of diamonds DataFrame.

### 35. Write a Pandas program to compute a cross-tabulation of two Series in diamonds DataFrame.

### 36. Write a Pandas program to calculate various summary statistics of cut series of diamonds DataFrame.

### 37. Write a Pandas program to create a histogram of the 'carat' Series (distribution of a numerical variable) of diamonds DataFrame.

### 38. Write a Pandas program to create a bar plot of the 'value_counts' for the 'cut' series of diamonds DataFrame.

### 39. Write a Pandas program to create a DataFrame of booleans (True if missing, False if not missing) from diamonds DataFrame.

### 40. Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.

### 41. Write a Pandas program to check the number of rows and columns and drop those row if 'any' values are missing in a row of diamonds DataFrame.

### 42. Write a Pandas program to drop a row if any or all values in a row are missing of diamonds DataFrame on two specific columns.

### 43. Write a Pandas program to set an existing column as the index of diamonds DataFrame.

### 44. Write a Pandas program to set an existing column as the index of diamonds DataFrame and restore the index name, and move the index back to a column.

### 45. Write a Pandas program to access a specified Series index and the Series values of diamonds DataFrame.

### 46. Write a Pandas program to sort a Series by its values and index of diamonds DataFrame.

### 47. Write a Pandas program to calculate the multiply of length, width and depth for each cut of diamonds DataFrame.

### 48. Write a Pandas program to concatenate the diamonds DataFrame with the 'color' Series.

### 49. Write a Pandas program to read specified rows and all columns of diamonds DataFrame.

### 50. Write a Pandas program to read rows 0, 5, 7 and all columns of diamonds DataFrame.

### 51. Write a Pandas program to read rows 2 through 5 and all columns of diamonds DataFrame.

### 52. Write a Pandas program to read rows 0 through 2 (inclusive), columns 'color' and 'price' of diamonds DataFrame.

### 53. Write a Pandas program to read rows 0 through 2 (inclusive), columns 'color' through 'price' (inclusive) of diamonds DataFrame.

### 54. Write a Pandas program to read rows in which the 'cut' is 'Premium', column 'color' of diamonds DataFrame.

### 55. Write a Pandas program to read rows in positions 0 and 1, columns in positions 0 and 3 of diamonds DataFrame.

### 56. Write a Pandas program to read rows in positions 0 through 4, columns in positions 1 through 4 of diamonds DataFrame.

### 57. Write a Pandas program to read rows in positions 0 through 4 (exclusive) and all columns of diamonds DataFrame.

### 58. Write a Pandas program to read rows 2 through 5 (inclusive), columns in positions 0 through 2 (exclusive) of diamonds DataFrame.

### 59. Write a Pandas program to print a concise summary of diamonds DataFrame.

### 60. Write a Pandas program to get the true memory usage by diamonds DataFrame.

### 61. Write a Pandas program to calculate the memory usage for each Series (in bytes) of diamonds DataFrame.

### 62. Write a Pandas program to get randomly sample rows from diamonds DataFrame.

### 63. Write a Pandas program to get sample 75% of the diamonds DataFrame's rows without replacement and store the remaining 25% of the rows in another DataFrame.

### 64. Write a Pandas program to read the diamonds DataFrame and detect duplicate color.
### Note: duplicated () function returns boolean Series denoting duplicate rows, optionally only considering certain columns.

### 65. Write a Pandas program to count the duplicate rows of diamonds DataFrame.

###

###

###

###

###

###

###

###

###

###

###

###

###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###

In [ ]:
###