In [2]:
import pandas as pd

In [2]:
s=pd.Series([11,28,72,3,5,8])
s

0    11
1    28
2    72
3     3
4     5
5     8
dtype: int64

In [6]:
for i in s.index:
    print(i)

0
1
2
3
4
5

In [7]:
s=pd.Series([1,2,3,4,5],['Pune','Mumbai','NAshik','Akola','Delhi'])

In [8]:
s

Pune      1
Mumbai    2
NAshik    3
Akola     4
Delhi     5
dtype: int64

In [9]:
s=pd.Series(data=['Pune','Mumbai','NAshik','Akola','Delhi'],index=['P',"M",'N','A','D'])
s

P      Pune
M    Mumbai
N    NAshik
A     Akola
D     Delhi
dtype: object

In [4]:
d={'Prada':0,'Viki':99,'Ram':98}
s=pd.Series(d)
s

Prada     0
Viki     99
Ram      98
dtype: int64

In [8]:
q1={'JApan':80,'China':450,'India':200,'USA':250}
q2={'JApan':100,'China':500,'India':210,'USA':260}
sales_q1=pd.Series(q1)
sales_q2=pd.Series(q2)

In [9]:
sales_q1

JApan     80
China    450
India    200
USA      250
dtype: int64

In [10]:
sales_q2

JApan    100
China    500
India    210
USA      260
dtype: int64

In [11]:
sales_q1[0]

80

In [12]:
sales_q2['JApan']

100